<h1>Welcome to: </h1>
<h2>Kennedy's Weather App</h2>
<p>Enter your zip, city, or state below.</p>
<form method="post" action="/weather">
     <input type="text" placeholder="Enter zip, city, or state."name="post[location]" />
    <input type="submit" name="Search" />
</form>
