body {
  text-align: center;
  background: url('images/map.png');
  background-size: cover;
  background-position: center;
  color: black;
  font-family: helvetica;
}

input {
  border: 4px;
  padding: 10px;
  font-size: 18px;
}
div {
  background-size: cover;
  background-position: center;
}
h1{
  background-position: center;
  font-size: 55px;
  font-family: 'Slabo 27px', serif;
}
h2{
  background-position: center;
  font-size: 45px;
  font-family: 'Slabo 27px', serif;
}
p{
  background-position: center;
  font-family: 'Slabo 27px', serif;
}

#default{
  background: url('images/map.png') no-repeat center center fixed;  ;

}
#cloudy{
  background: url('images/cloudy.png') no-repeat center center fixed; ;

}
#fair{
  background: url('images/sunny.png') no-repeat center center fixed; ;

}
#rain{
  background: url('images/rain.png') no-repeat center center fixed; ;
   background-size: cover;

}
#snowy{
  background: url('images/snowy.png') no-repeat center center fixed; ;

}
#sunny{
  background: url('images/sunny.png') no-repeat center center fixed; ;

}

