body {
      text-align: center;
     /* background: url('images/map.png');
*/      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
      background:red;
    }

 input {
      border: 1px;
      padding: 10px;
      font-size: 18px;
    }
